.otp-wrapper {
  background: url('../../assets/images/otpbg.png.png') center/cover no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 300px;
  width: 100%;
}

.error label {
  color: red;
  font-size: 14px;
}

.otp-button .otp-btn {
  font-size: 18px;
  cursor: pointer;
}

.main {
  margin: 0 auto; 
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9); 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

// @media (max-width: 767px) {
//   .main {
//     margin: 0; /* Remove margin on small screens */
//   }
// }
